* {
  font-size: 14px;
}
*:focus {
  outline: none;
}

body {
  background-color: #cecece6e;
}

footer {
  padding: 20px;
  text-align: left;
}
@media (min-width: 1024px) {
  footer {
    text-align: right;
  }
}

a {
  color: inherit;
  text-decoration: none !important;
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}

.modal-dialog {
  z-index: 9999;
}

.topbar {
  background-color: #9a9a9a;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 199;
}
.topbar .logo {
  background-color: #848484;
  width: 220px;
}
.topbar .logo img {
  width: 100px;
  height: 60px;
}
@media (max-width: 739px) {
  .topbar .logo img {
    display: none;
  }
}
.topbar .logo .menu-button:focus {
  box-shadow: none;
}
@media (max-width: 739px) {
  .topbar .logo .menu-button {
    top: 63px;
    left: 3px;
    background-color: #717171 !important;
    color: white;
    width: 60px;
  }
}
@media (max-width: 739px) {
  .topbar .logo {
    width: 100px;
    background-color: transparent;
  }
}
.topbar .right-sidebar {
  padding: 20px;
  width: 140px;
  height: 60px;
  border-left: 1px solid #afafaf;
  position: relative;
}
.topbar .right-sidebar ul {
  background-color: white;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 60px;
  width: 140px;
  box-shadow: -4px 3px 9px #88888847;
  z-index: 9999;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.btn {
  min-width: 80px;
}
.btn:focus, .btn:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 5px 0.2rem #9a9a9a5e;
}
.btn.btn-primary {
  background-color: #717171;
  border-color: #717171;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}
.btn.btn-delete:focus, .btn.btn-delete:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 5px 0.2rem #ff000054;
}

.select2 {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 33.5px;
  border: 1px solid #ced4da;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0.375rem 0.75rem;
  line-height: inherit;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: 33.5px;
}
.select2-container .select2-selection--single:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  border-color: #9a9a9a;
  box-shadow: 0 0 0 0.2rem #9a9a9a33;
}

.form-group {
  /** Validation **/
}
.form-group label {
  font-weight: 600;
}
.form-group .help-block.error-help-block {
  color: red;
}
.form-group.has-success label {
  color: #2ebb00;
}
.form-group.has-success .form-control {
  border: 1px solid #2ebb00 !important;
}
.form-group.has-success .select2-container .select2-selection--single {
  border: 1px solid #2ebb00;
}
.form-group.has-success .select2-container .select2-selection--single:focus {
  border-color: #2ebb00;
}
.form-group.has-error label {
  color: red;
}
.form-group.has-error .form-control {
  border: 1px solid red !important;
}
.form-group.has-error .select2-container .select2-selection--single {
  border: 1px solid red;
}
.form-group.has-error .select2-container .select2-selection--single:focus {
  border-color: red;
}

.form-control:focus {
  border-color: #9a9a9a;
  box-shadow: 0 0 0 0.2rem #9a9a9a33;
}

table tr th.action {
  width: 150px;
}
table tr td .btn {
  min-width: 20px;
}

.left-sidebar {
  background-color: #ffffff;
  width: 220px;
  height: 100%;
  padding-top: 60px;
  position: fixed;
  box-shadow: 0 0 35px -20px #8888;
  z-index: 99;
}
@media (max-width: 739px) {
  .left-sidebar {
    left: -220px;
    display: none;
  }
}

.menu-sidebar {
  padding: 10px 0;
}
.menu-sidebar li {
  cursor: pointer;
  color: #717171;
}
.menu-sidebar li a {
  font-weight: 600;
  color: inherit;
  display: block;
  padding: 15px 10px 15px 20px;
}
.menu-sidebar li a i {
  font-size: 16px;
  width: 20px;
}
.menu-sidebar li a.hide-title-link {
  position: relative;
}
.menu-sidebar li a span.hide-title {
  position: absolute;
  left: 42px;
  width: 220px;
  background: white;
  padding: 10px 10px;
  top: 0;
  box-shadow: 4px 5px 15px #ababab;
  display: none;
}
.menu-sidebar li a:hover, .menu-sidebar li a.active {
  color: #000000;
}
.menu-sidebar li ul.list-child-hide {
  position: absolute;
  left: 30px;
  z-index: 999;
  background: white;
  width: 220px;
  top: 130px;
  box-shadow: 4px 5px 15px #ababab;
}

.page-wrapper {
  margin-bottom: 30px;
  padding-top: 60px;
  margin-left: 220px;
  position: relative;
}
@media (max-width: 739px) {
  .page-wrapper {
    margin-left: 0;
  }
}
.page-wrapper .page-content .breadcrumb {
  padding-left: 0;
  margin-bottom: 20px;
}
.page-wrapper .page-content .page-title {
  margin-bottom: 20px;
}
.page-wrapper .page-content .search-box {
  margin-bottom: 20px;
}
.page-wrapper .page-content .listing .sumary {
  padding: 20px 0;
}

/*** Pagination ***/
.pagination li {
  line-height: 1.25;
  padding: 0.1rem;
  color: #717171;
}
.pagination li a {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}
.pagination li a:hover {
  background-color: #5a626833;
  color: #717171;
}
.pagination li a.active {
  color: white;
  background-color: #717171;
}
.pagination li a.active:hover {
  background-color: #717171ba;
  color: white;
}
.pagination li a.disabled {
  cursor: default;
  color: #717171ba;
}
.pagination li a.disabled:hover {
  background-color: transparent;
}

/*** Checkbox customize ***/
input[type=checkbox].checkbox-style {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-right: 20px;
}
input[type=checkbox].checkbox-style:checked ~ .checkmark {
  background-color: #717171;
}
input[type=checkbox].checkbox-style:checked ~ .checkmark.checkmark-disabled {
  background-color: #9a9a9a;
}
input[type=checkbox].checkbox-style:checked ~ .checkmark:after {
  display: block;
}

label.selection-style-label {
  position: relative;
  font-weight: normal;
  margin-bottom: 0;
  padding: 5px;
}

tr .checkbox-style-label {
  width: 100%;
  padding: 10px;
}
tr .checkmark {
  left: auto;
}

.checkmark {
  position: absolute;
  margin: auto;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: 2px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*** Radio customize ***/
input[type=radio].radio-style {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-right: 20px;
}

input[type=radio].radio-style:checked ~ .radiomark:after {
  display: block;
}

.radiomark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #717171;
  margin-bottom: 0;
  border-radius: 50%;
}

.radiomark:after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 2.5px;
  width: 13px;
  height: 13px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  background-color: gray;
  border-radius: 50%;
}

/** Input file **/
input[type=file] {
  display: none;
}

.upload-style + label {
  background-color: #717171;
  width: 165px;
  padding: 10px 20px;
  color: white;
}
.upload-style + label:hover {
  background-color: #9a9a9a;
}

.alert-fade-out {
  max-width: 300px;
  position: fixed;
  right: -300px;
  top: 70px;
  z-index: 100;
}

#login .login-box .card {
  margin-top: 150px;
  width: 350px;
}

.btn-setting {
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  border: #0c5460 solid 2px;
}
.btn-setting span {
  font-weight: bold;
  color: darkblue;
}

/*# sourceMappingURL=main.css.map */
