<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../assets/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/main.css">
    <title>Document</title>
</head>
<body>
<header class="topbar">
    <div class="right-sidebar float-right" data-toggle="collapse" href="#list-menu" aria-expanded="false">
        <a href="#" class="text-light">Admin</a>
        <ul class="collapse list-unstyled border" id="list-menu">
            <li>Đăng nhập</li>
        </ul>
    </div>
</header>
<div class="left-sidebar">
    <div id="logo" class="logo">
        <img src="../logo/logo.png">
    </div>
    <div class="menu">
        <ul class="list-unstyled">
            <li class="active"><a href="#"><i class="fas fa-low-vision"></i> Menu 1</a></li>
            <li data-toggle="collapse" href="#child" aria-expanded="false">
                <a class="d-flex justify-content-between" id="menu-has-child">
                    <div class="menu-parent">
                        <i class="fas fa-low-vision"></i>
                        Menu 2
                    </div>
                    <i class="fas fa-angle-down"></i>
                </a>
                <ul class="collapse list-unstyled pl-3" id="child">
                    <li class="active"><a href="#"><i class="fas fa-low-vision"></i> Children 1</a></li>
                    <li><a href="#"><i class="fas fa-low-vision"></i> Children 2</a></li>
                    <li><a href="#"><i class="fas fa-low-vision"></i> Children 3</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fas fa-low-vision"></i> Menu 3</a></li>
        </ul>
    </div>
</div>
<section></section>
<footer></footer>
</body>
<script src="../assets/jquery/jquery-3.5.1.slim.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/jquery/main.js"></script>
</html>